<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url(../../shared/img/page-title-bg.jpg);">
  <div class="container position-relative">
    <h1>Contact-Us</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="">Home</a></li>
        <li class="current">Contact Us</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<!-- Contact Section -->
<section id="contact" class="contact section">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-6">
        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up"
          data-aos-delay="200">
          <i class="bi bi-geo-alt"></i>
          <h3>Address</h3>
          <p>117, SHIV SHAKTI COMPLEX,NEAR MOTHERSON SUMIBOL GIDC</p>
          <p>SANAND-II ,AHMEDABAD , 382170</p>
        </div>
      </div><!-- End Info Item -->

      <div class="col-lg-3 col-md-6">
        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up"
          data-aos-delay="300">
          <i class="bi bi-telephone"></i>
          <h3>Call Us</h3>
          <p><a href="tel:+918595385713" class="text-contact">+91-8595385713</a></p>
        </div>
      </div><!-- End Info Item -->

      <div class="col-lg-3 col-md-6">
        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up"
          data-aos-delay="400">
          <i class="bi bi-envelope"></i>
          <h3>Email Us</h3>
          <p><a href="mailto:info@trinityenterprises.co" class="text-contact">info@trinityenterprises.co</a></p>
          <p><a href="mailto:trinityenterprises0709@gmail.com" class="text-contact">trinityenterprises0709@gmail.com</a></p>
        </div>
      </div><!-- End Info Item -->

    </div>

    <div class="row gy-4 mt-1">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.9479240549076!2d72.361074071851!3d22.98894237162934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e99bb50bacac7%3A0x8c51510d81ae16c2!2sTrinity%20Enterprises!5e0!3m2!1sen!2sin!4v1763799054303!5m2!1sen!2sin"
          frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

      <!-- Contact Form -->
      <div class="col-lg-6">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="php-email-form" novalidate>
          <div class="row gy-4">

            <div class="col-md-6">
              <label for="name" class="form-label">Your Name <span class="text-danger">*</span></label>
              <input id="name" type="text" class="form-control" formControlName="name" placeholder="Your Name" />
              @if (f['name'].touched && f['name'].invalid) {
                <div class="text-danger mt-1">Name is required.</div>
              }
            </div>

            <div class="col-md-6">
              <label for="email" class="form-label">Your Email <span class="text-danger">*</span></label>
              <input id="email" type="email" class="form-control" formControlName="email" placeholder="Your Email" />
              @if (f['email'].touched && f['email'].invalid) {
                <div class="text-danger mt-1">
                  @if (f['email'].errors?.['required']) {
                    <div>Email is required.</div>
                  }
                  @if (f['email'].errors?.['email']) {
                    <div>Please enter a valid email.</div>
                  }
                </div>
              }
            </div>

            <div class="col-md-12">
              <label for="mobile" class="form-label">Contact Number</label>
              <input id="mobile" type="text" class="form-control" formControlName="mobile"
                placeholder="Your Mobile Number" />
              </div>

              <div class="col-md-12">
                <label for="subject" class="form-label">Subject <span class="text-danger">*</span></label>
                <input id="subject" type="text" class="form-control" formControlName="subject" placeholder="Subject" />
                @if (f['subject'].touched && f['subject'].invalid) {
                  <div class="text-danger mt-1">Subject is required.
                  </div>
                }
              </div>

              <div class="col-md-12">
                <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                <textarea id="message" class="form-control" formControlName="message" rows="6"
                placeholder="Message"></textarea>
                @if (f['message'].touched && f['message'].invalid) {
                  <div class="text-danger mt-1">Message is required.
                  </div>
                }
              </div>

              <div class="col-md-12 text-center">
                <button type="submit" [disabled]="contactForm.invalid"
                  [ngStyle]="contactForm.invalid ? {'opacity': '0.6', 'cursor': 'not-allowed', 'pointer-events': 'none'} : {}">
                  Send Message
                </button>

              </div>

            </div>
          </form>
        </div>
        <!-- End Contact Form -->


        <!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->
