<!-- Page Title -->
@if (showHeader){
<div class="page-title dark-background" style="background-image: url(../../shared/img/page-title-bg.jpg);">
        <div class="container position-relative">
                <h1>Clients</h1>
                <nav class="breadcrumbs">
                        <ol>
                                <li><a routerLink="/">Home</a></li>
                                <li class="current">Clients</li>
                        </ol>
                </nav>
        </div>
</div>
}
<!-- End Page Title -->


<!-- Clients Section -->
<section id="clients" class="clients section light-background">
        <!-- Section Title -->
        <!-- <div class="container section-title" data-aos="fade-up">
      <h2>Clients</h2>
    </div> -->
        <!-- End Section Title -->

        <div class="container" data-aos="zoom-in">
                <swiper-container slides-per-view="7" speed="500" loop="true" autoplay="true"
                        loop-additional-slides="3">
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Yuzimi-logo-industry.png" class="img-fluid"
                                        alt="Yuzimi" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Nestle-Logo-industry.png" class="img-fluid"
                                        alt="Nestle" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/khanna-paper-mill-industry.png" class="img-fluid"
                                        alt="Khanna Paper Mill" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/voltas-logo-industry.png" class="img-fluid"
                                        alt="Voltas" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Nivea-logo-industry.png" class="img-fluid"
                                        alt="Nivea" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/coco-cola-logo-industry.png" class="img-fluid"
                                        alt="Coco Cola" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Procter_&_Gamble_logo-industry.png"
                                        class="img-fluid" alt="Procter & Gamble" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/mubea-logo-industry.png" class="img-fluid"
                                        alt="Mubea" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/india-oil-logo.png" class="img-fluid"
                                        alt="India Oil" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Finecure-Pharmaceuticals-Limited-Logo.png"
                                        class="img-fluid" alt="Finecure-Pharmaceuticals-Limited" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Ball-Corporation-Logo.png" class="img-fluid"
                                        alt="Ball-Corporation" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Marico-Logo.png" class="img-fluid"
                                        alt="Marico" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Raicam-Logo.png" class="img-fluid"
                                        alt="Raicam" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Suroj-Buildcon-Logo.png" class="img-fluid"
                                        alt="Suroj-Buildcon" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Thermax-Logo.png" class="img-fluid"
                                        alt="Thermax" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Rohan-Builders-India-Logo.png" class="img-fluid"
                                        alt="Rohan-Builders" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Denasa-Buildcon-Logo.png" class="img-fluid"
                                        alt="Denasa-Buildcon" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Nanliugroup-Logo.png" class="img-fluid"
                                        alt="Nanliugroup" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Skai-Logo.png" class="img-fluid"
                                        alt="Skai" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Unique-MEP-Logo.png" class="img-fluid"
                                        alt="Unique-MEP" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Tong-Garden-Logo.png" class="img-fluid"
                                        alt="Tong-Garden" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/MetTube-Logo-Copper.png" class="img-fluid"
                                        alt="MetTube" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Toyota-Tsusho-logo.png" class="img-fluid"
                                        alt="Toyota-Tsusho" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Pidilite-logo.jpg" class="img-fluid"
                                        alt="Pidilite" /></swiper-slide>
                        <swiper-slide><img loading="lazy" width="120" height="60"
                                        src="../../shared/img/clients/Mayur-Industries-ltd-logo.jpeg" class="img-fluid"
                                        alt="Mayur-Industries-Ltd" /></swiper-slide>
                </swiper-container>
        </div>

</section>
<!-- Clients Section End-->