<main class="main">

  <!-- Page Title -->
  @if (showHeader) {
  <div class="page-title dark-background" style="background-image: url(../../shared/img/page-title-bg.jpg);">
    <div class="container position-relative">
      <h1>Projects</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Gallery</li>
        </ol>
      </nav>
    </div>
  </div>
  }

  <!-- Gallery Section -->
  <section id="projects" class="projects section">
    <div class="container section-title" data-aos="fade-up">
      <h2>Gallery</h2>
    </div>

    <div class="container">
      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
        <!-- Filters -->
        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-engineering">Engineering Design</li>
          <li data-filter=".filter-fabrication">Structure Fabrication & Erection</li>
          <li data-filter=".filter-piping">Piping</li>
          <li data-filter=".filter-maintenance">Facility Maintenance</li>
          <li data-filter=".filter-contracting">Painting</li>
          <li data-filter=".filter-procurement">Industrial Insulation</li>
          <li data-filter=".filter-manpower">Engineering Solutions</li>
          <li data-filter=".filter-equipment">Welding</li>
          <li data-filter=".filter-mep">Erection & Commissioning</li>
        </ul>
        <!-- End Filters -->

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
          <!-- Engineering Design -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-engineering">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/EngineeringDesign/engineering-design-services.jpg" class="img-fluid"
                alt="Engineering Design" />
              <div class="portfolio-info">
                <h4>Engineering Design</h4>
                <p>Engineering Design showcase</p>
                <a href="../../shared/img/services/EngineeringDesign/engineering-design-services.jpg"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Engineering Project"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/engineering-design-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Structure Fabrication Project 1 -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fabrication">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/StructureFabrication&Erection/Steel-structure.png" class="img-fluid"
                alt="Structure Fabrication Project 1" />
              <div class="portfolio-info">
                <h4>Fabrication Project 1</h4>
                <p>Steel Structure Project 1</p>
                <a href="../../shared/img/services/StructureFabrication&Erection/Steel-structure.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Fabrication Project 1"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/structure-fabrication-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Structure Fabrication Project 2 -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fabrication">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-2.png"
                class="img-fluid" alt="Structure Fabrication Project 2" />
              <div class="portfolio-info">
                <h4>Fabrication Project 2</h4>
                <p>Steel Structure Project 2</p>
                <a href="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-2.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Fabrication Project 2"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/structure-fabrication-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Structure Fabrication Project 3 -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fabrication">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-3.png"
                class="img-fluid" alt="Structure Fabrication Project 3" />
              <div class="portfolio-info">
                <h4>Fabrication Project 3</h4>
                <p>Steel Structure Project 3</p>
                <a href="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-3.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Fabrication Project 3"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/structure-fabrication-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Structure Fabrication Project 4 -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fabrication">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-4.png"
                class="img-fluid" alt="Structure Fabrication Project 4" />
              <div class="portfolio-info">
                <h4>Fabrication Project 4</h4>
                <p>Steel Structure Project 4</p>
                <a href="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-4.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Fabrication Project 4"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/structure-fabrication-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Structure Fabrication Project 5 -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fabrication">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-5.png"
                class="img-fluid" alt="Structure Fabrication Project 5" />
              <div class="portfolio-info">
                <h4>Fabrication Project 5</h4>
                <p>Steel Structure Project 5</p>
                <a href="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-5.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Fabrication Project 5"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/structure-fabrication-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Structure Fabrication Project 6 -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fabrication">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-6.png"
                class="img-fluid" alt="Structure Fabrication Project 6" />
              <div class="portfolio-info">
                <h4>Fabrication Project 6</h4>
                <p>Steel Structure Project 6</p>
                <a href="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-6.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Fabrication Project 6"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/structure-fabrication-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Structure Fabrication Project 7 -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-fabrication">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-7.png"
                class="img-fluid" alt="Structure Fabrication Project 7" />
              <div class="portfolio-info">
                <h4>Fabrication Project 7</h4>
                <p>Steel Structure Project 7</p>
                <a href="../../shared/img/services/StructureFabrication&Erection/Structure-Fabrication-7.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Fabrication Project 7"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/structure-fabrication-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Piping -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-piping">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/PipingProcessUtilities&Fire/Piping–Process-Utilities-Fire.png"
                alt="Piping" />
              <div class="portfolio-info">
                <h4>Piping Installation</h4>
                <p>Stainless & Carbon Steel Works</p>
                <a href="../../shared/img/services/PipingProcessUtilities&Fire/Piping–Process-Utilities-Fire.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Piping Project"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/piping–process-utilities-fire-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Facility Maintenance -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-maintenance">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/FacilityMaintenance/Facilty-Management.png" class="img-fluid"
                alt="Facility Maintenance" />
              <div class="portfolio-info">
                <h4>Facility Maintenance</h4>
                <p>On-site Repairs and Management</p>
                <a href="../../shared/img/services/FacilityMaintenance/Facilty-Management.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Maintenance Project"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/facility-maintenance-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Painting Service -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-contracting">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/Painting/hand-holding-paint-brush.png" class="img-fluid"
                alt="Painting Contracting" />
              <div class="portfolio-info">
                <h4>Painting </h4>
                <p>Painting Projects</p>
                <a href="../../shared/img/services/Painting/hand-holding-paint-brush.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery" title="Painting Projects"><i
                    class="bi bi-zoom-in"></i></a>
                <a routerLink="/painting-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Industrial Insulation -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-procurement">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/IndustrialInsulation/Industrial-Insulation.png" class="img-fluid"
                alt="Procurement & Material Supply" />
              <div class="portfolio-info">
                <h4>Industrial Insulation</h4>
                <p>Industrial Insulation Project</p>
                <a href="../../shared/img/services/IndustrialInsulation/Industrial-Insulation.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery"
                  title="Industrial Insulation Project"><i class="bi bi-zoom-in"></i></a>
                <a routerLink="/industrial-insulation-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Engineering Solutions – Maintenance, O&M and Audits -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-manpower">
            <div class="portfolio-content h-100">
              <img
                src="../../shared/img/services/EngineeringSolutions MaintenanceO&M&Audits/Operation_and_Maintenance_Cycle.png"
                class="img-fluid" alt="Manpower Supply" />
              <div class="portfolio-info">
                <h4>Engineering Solutions</h4>
                <p>Engineering Solutions – Maintenance, O&M and Audits Project</p>
                <a href="../../shared/img/services/EngineeringSolutions MaintenanceO&M&Audits/Operation_and_Maintenance_Cycle.png"
                  class="glightbox preview-link" data-gallery="portfolio-gallery"
                  title="Engineering Solutions – Maintenance, O&M and Audits Project"><i class="bi bi-zoom-in"></i></a>
                <a routerLink="/engineering-solutions–maintenance-audits-service" class="details-link"
                  title="More Details"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- Welding -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-equipment">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/Welding/Welding-Services.jpg" class="img-fluid"
                alt="Equipment Rental" />
              <div class="portfolio-info">
                <h4>Welding</h4>
                <p>Welding Project</p>
                <a href="../../shared/img/services/Welding/Welding-Services.jpg" class="glightbox preview-link"
                  data-gallery="portfolio-gallery" title="Welding Project"><i class="bi bi-zoom-in"></i></a>
                <a routerLink="/welding-service-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

          <!-- MEP Works -->
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-mep">
            <div class="portfolio-content h-100">
              <img src="../../shared/img/services/Erection&Commissioning/machine-erection-commissioning-services.jpg"
                class="img-fluid" alt="MEP Works" />
              <div class="portfolio-info">
                <h4>Erection & Commissioning Works</h4>
                <p>Erection & Commissioning Project</p>
                <a href="../../shared/img/services/Erection&Commissioning/machine-erection-commissioning-services.jpg"
                  class="glightbox preview-link" data-gallery="portfolio-gallery"
                  title="Erection & Commissioning Project"><i class="bi bi-zoom-in"></i></a>
                <a routerLink="/erection-commissioning-service" class="details-link" title="More Details"><i
                    class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>

        </div>
        <!-- End Portfolio Container -->
      </div>
    </div>
  </section>
  <!-- Gallery Section -->

</main>
